<!--The content below is only a placeholder and can be replaced.-->
<div id="wrapper">
  <h1 class="align-middle shadow p-3 mb-5">Funny Weather</h1>
  <div class="shadow-lg p-3 mb-5 form-class">
      <input (keyup)="getWeather($event)" class="form-control" type="text" placeholder="City name">
      <span tooltip='You can add a country code like this "Berlin, DE" for a better search result.' placement="right"
        show-delay="200" theme="light">
        <i class="fas fa-info-circle tooltip-icon"></i>
      </span>
  </div>

  <img *ngIf="!weather" src="./assets/images/twoClouds.png" alt="Two Smiling Clouds">

  <div *ngIf="weather" class="card shadow shadow-lg p-3 mb-5" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{weather.name}}, {{weather.sys.country}}<img [src]="weather.weather[0].icon"></h5>
      <p class="card-text">{{weather.main.temp - 273.15 | number:'1.0-0'}}°C </p>
      <p class="card-text">Weather: {{weather.weather[0].description}}</p>
      <app-joke [weatherDesc]="weather.weather[0].main"></app-joke>
    </div>
  </div>
</div>
<router-outlet></router-outlet>