/* You can add global styles to this file, and also import other style files */
html{
    background-color: #559CAD;
}

@font-face {
    font-family: weather;
    src: url(assets/UnderTheWeather.otf) format("opentype");
}